- return "" unless current_member.present?

.member-show
  .row
    .col-md-3.text-center
      .box.box-body-sm
        .row
          =# link_to "<span class='glyphicon glyphicon-cog' aria-hidden='true'>".html_safe, "#", class: "btn btn-gray btn-sm btn-edit"
          %br

        %img.member-pic{src: current_member.gravatar_url(:size =>96, :rating => 'G', :secure => true, :default => 'identicon')}
        %h4 #{ current_member.name }
        %hr
        .row.text-left
          .col-md-12
            %span.detail-label Email
            %p.detail-info #{current_member.email}

            %span.detail-label Joined
            %p.detail-info #{current_member.created_at.strftime("%B %d, %Y")}

            %span.detail-label Membership Plan
            %p.detail-info #{current_member.plan.nil? ? "&lt;No Plan&gt;".html_safe : current_member.plan.name }
       
        - if @gateway && current_member
          %br
          %h5 Credit Card
          - if current_member.payment_system_customer_id.blank?
            <a href="/credit_card">Add a credit card</a>
          - else
            XXXX XXXX XXXX #{current_member.last_4_digits}
            %br
            <a href="/credit_card">Change</a>
        - else
          &nbsp;
               
    .col-md-9
      .box.box-body-sm
        %h3 Invoices Overview

        %hr

        %table.table.ledger-items{ style: "margin-bottom: 0;"}
          %thead
            %tr
              %th.ref-no Ref No.
              %th.issue-date Issue Date
              %th.details Details
              %th.balance-due Balance Due
              %th.view-invoice &nbsp;
            
          %tbody
            - @ledger_items.each do |item| 
              %tr
                %td
                  = link_to sprintf("%05d", item.id), "/#{item.id}/details"                   
                - if item.status == "open"
                  %td - 
                - else
                  %td= item.issue_date.nil? ? "Not Set" : item.issue_date.strftime("%b %e, %Y") 

                %td= truncate(item.description, length: 40)
                %td= item.balance_formatted
                %td.text-right= paid(item)

      = render partial: 'transaction_history', locals: {history_title: "Recent Account History"}
    
