<p id="notice"><%= notice %></p>

<% unless @payment_method.last_4_digits.blank? -%>
  Current Card: <%= last_four(@payment_method.last_4_digits)-%>
<% end -%>

<p>
  <strong>Billing name:</strong>
  <%= @payment_method.billing_name %>
</p>

<p>
  <strong>Billing email:</strong>
  <%= @payment_method.billing_email %>
</p>

<%= link_to 'Edit', edit_payment_method_path(@payment_method) %> |
<%= link_to 'Back', payment_methods_path %>
