.col-md-6.col-md-offset-3.box.box-body-md
  %h4
    Credit Note for
    = @member.name
  = form_for(@credit_note, url: space_member_member_credit_notes_path(@space, @member, @credit_note)) do |f|
    = f.hidden_field :invoice_id
    .form-group
      %label{class: "col-md-8", style: "padding-left:0;padding-right:5px;margin-bottom:5px;"} Description
      %label{class: "col-md-2", style: "padding-left:0;padding-right:5px;margin-bottom:5px;"} Tax $
      %label{class: "col-md-2", style: "padding-left:0;padding-right:0;"} Amount
    = f.fields_for :line_items do |l|
      .form-group{:class => "#{has_error(l.object, :description)} col-md-8", style: "padding-left:0;padding-right:5px;margin-bottom:5px;"}
        = l.text_field :description, class: "form-control"
        = field_errors(l.object, :description)
      .form-group{:class => "#{has_error(l.object, :tax_amount)} col-md-2", style: "padding-left:0;padding-right:5px;margin-bottom:5px;"}
        = l.text_field :tax_amount, class: "form-control"
        = field_errors(l.object, :tax_amount)
      .form-group{:class => "#{has_error(l.object, :net_amount)} col-md-2", style: "padding-right:0;padding-left:0;margin-bottom:5px;"}
        = l.text_field :net_amount, class: "form-control"
        = field_errors(l.object, :net_amount)
    %br{style: "clear:both;"}
    %div{style: "margin-top:20px;"}
      = f.submit class: "btn btn-success"
      or
      = link_to("Cancel", :back)

