<div class="col-md-6">
  <h2>Current Managers</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td><%= admin.email %> <%= admin.id == current_user.id ? "(you)" : ""-%></td>
          <td><%= link_to 'Destroy',"#", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-6">
  <h2>People invited to co-manage</h2>
  <table class="table" style="margin-bottom:25px;">
    <thead>
      <tr>
        <th>Email</th>
        <th>Sent By</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @invites.each do |invite| %>
        <tr>
          <td><%= invite.email %></td>
          <td><%= invite.sender.email %></td>
          <td><%= link_to 'Destroy', [@space, invite], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Resend', [@space, invite], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

      <% if @invites.empty? -%>
        <tr><td class="text-center" colspan="4"><i>You have no unaccepted invites.</td></tr>
      <% end -%>

    </tbody>
  </table>
  
  <%= form_for [@space, @invite], html: {class: "form-inline", role: "form"} do |f| %>
    <div class="form-group" style="width:270px;">
      <div class="input-group">
        <div class="input-group-addon">@</div>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter email", style: "width:225px;" %>
      </div>
    </div>
    <%= f.submit 'Send Invite', class: "btn btn-primary" %>
  <% end %>
</div>
