.container
  .invoice
    .inner-padding
      .row.invoice-header
        .span8
          %h3
            Invoice Ref. No. #{sprintf("%05d", @invoice.id)}
            #{invoice_status(@invoice)}

          %p
            Created on
            #{ @invoice.created_at.strftime("%Y/%m/%d at %l:%M %p %Z")}
        .span4.text-right
          %a.btn.btn-gray.btn-md.btn-back{"aria-label" => "Left Align", :href => space_member_path(@space, @member)}
            %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}>
            Back to Member
      .col-md-12.action-bar
        .row
          .col-md-6
            - if @invoice.status == "open" 
              = link_to "Send Invoice", deliver_space_member_invoice_path(@space, @member, @invoice), method: "post", class: "btn btn-invoice-action btn-xs vertical-center "
              = link_to "Edit Invoice", edit_space_member_invoice_path(@space, @member, @invoice), class: "btn btn-invoice-action btn-xs vertical-center"  
              .btn-group
                %a.btn.btn-invoice-action.btn-xs.vertical-center.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                  More Actions
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    = link_to "Add Credit Note", new_space_member_credit_note_path(@space, @member, invoice_id: @invoice.id), class: ""  
                  %li
                    = link_to "Delete Invoice", space_member_invoice_path(@space, @member, @invoice), class: "", method: "delete", data: { confirm: 'Are you sure?' }              
            - else 
              - if !@invoice.paid? 
                = link_to "Add Credit Note", new_space_member_credit_note_path(@space, @member, invoice_id: @invoice.id), class: "btn btn-invoice-action btn-xs vertical-center"  
          .col-md-6.text-right
            %p.balance.verticle-middle
              Balance:
              %span{:style => "margin-left:4px; font-weight:600;"} 
                #{@invoice.balance_formatted} #{@member.location.currency}  
            - if !@invoice.paid? 
              = link_to "Record Payment", new_space_member_payment_path(@space, @member, invoice_id: @invoice.id), class: "btn btn-success btn-xs vertical-center" 
      .box.box-body
        .row
          .col-md-6
            -#%img{:src => "/img/space-logo.png", :width => "160px;"}
          .col-md-6.text-right
            %h2{:style => "margin-top: 0px;"} INVOICE
        .row
          .col-md-12
            %hr
        .row
          .col-md-6{:style => "margin-top:10px;"}
            %span.space-name #{@space.name}
            %p.space-address
              #{@member.location.address}
              %br
              #{@member.location.city}, #{@member.location.state} #{@member.location.postal_code}
              %br
              #{@member.location.country_name}

            %span.section-title Bill to
            %p.member-name
              #{@member.name}
              %br
                %a.member-email{:href => "#"} #{@member.email}
          .col-md-6{:style => "margin-top:10px;"}
            .panel.panel-default
              .panel-body
                .col-md-6{:style => "font-weight: 600;"}
                  Reference No.
                  %br
                    Issue Date
                .col-md-6.text-right
                  #{sprintf("%05d", @invoice.id)}
                  %br
                    #{ @invoice.issue_date.nil? ? "-" : @invoice.issue_date.strftime("%Y/%m/%d")}
        / / end client details section
        .row
          .col-md-12{:style => "margin-top: 20px;"}
            %table.table.table-bordered
              %thead
                %tr
                  %th{:style => "width: 56%"}
                    Description
                  %th{:style => "text-align: right; width: 8%"}
                    Qty
                  %th{:style => "text-align: right; width: 14%"}
                    Price
                  %th{:style => "text-align: right; width: 8%"}
                    Tax
                  %th{:style => "text-align: right; width: 14%"}
                    Sub Total
              %tbody
                - @invoice.line_items.each do |line|
                  - next if line.description.blank?
                  %tr
                    %td #{line.description}
                    %td.text-right #{line.quantity}
                    %td.text-right #{line.net_amount_formatted}
                    %td.text-right #{line.tax_amount_formatted}
                    %td.text-right #{line.gross_amount_formatted}
        .row
          .col-md-8.notes
            %h4 Thanks for supporting #{@space.name}
            %p.contact-info
              If you have any questions about this invoice, we're happy to help. Simply send an email to
              %a{:href => "mailto:#{@space.user.email}"} #{@space.user.email}
              Thanks again!
          .col-md-2.text-right
            %p
              Sub Total :
              %br
              TAX :
              %br
              %span.total Total:
          .col-md-2.text-right
            %p
              #{@invoice.net_amount_formatted}
              %br
              #{@invoice.tax_amount_formatted}  
              %br
              %span.money #{@invoice.total_amount_formatted}
    .inner-padding
      %div{:style => "margin-top: 50px;"}
        .row
          .col-md-12
            = render partial: 'shared/transaction_history', locals: {history_title: "Invoice History"}
