<%= form_for(@space) do |f| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :postal %><br>
    <%= f.text_field :postal %>
  </div>

  <div class="field">
    <label for="space_timezone">Select your timezone</label>
    <%= f.time_zone_select :timezone, nil, {}, {class: ''}%>
  </div>

  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>


  <div class="field">
    <%= f.label :plan %><br>
    <%= f.select(:plan, Space.plans) %>
  </div>

  <% unless current_user.trialing? -%>
    <div class="field">
      <%= f.label :coupon %><br>
      <%= text_field_tag(:coupon) %>
    </div>
  <% end -%>

  <% unless current_user.trialing? && @space.payment_method.nil? -%>
    <% if @space.payment_method.nil? -%>
      <%= f.label :payment_method %>  <%= link_to "Manage Payment Methods", payment_methods_path -%>
<br>
      <%= select_tag :payment_method, 
      options_from_collection_for_select(current_user.payment_methods, "id", "select_name"),
        include_blank: true %>
    <% else -%>
      <%= f.label :payment_method %><br>
      <%= @space.payment_method.select_name -%><br>
      <%= link_to "Change Card Details", edit_payment_method_path(@space.payment_method), class: "btn btn-default" -%>
      <%= link_to "Cancel Subscription",  cancel_subscription_space_path(@space), method: 'post', class: "btn btn-default" -%>
    <% end -%>
  <% end -%>

  <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
