<h1>Listing spaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Website</th>
      <th>Country</th>
      <th>Postal</th>
      <th>Timezone</th>
      <th>Currency</th>
      <th>Slug</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.name %></td>
        <td><%= space.address %></td>
        <td><%= space.phone %></td>
        <td><%= space.fax %></td>
        <td><%= space.website %></td>
        <td><%= space.country %></td>
        <td><%= space.postal %></td>
        <td><%= space.timezone %></td>
        <td><%= space.currency %></td>
        <td><%= space.slug %></td>
        <td><%= link_to 'Members', space_members_path(space) %></td>
        <td><%= link_to 'Show', space %></td>
        <td><%= link_to 'Edit', edit_space_path(space) %></td>
        <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
