// NEW FORM MARKUP

#space-new
  .container
    .row
      .col-md-8.col-md-offset-2
        .box.box-body-lg
          %form.form-horizontal
            %fieldset
              %h2{:style => "margin-top:0;"} Create A New Space...
              %p First, we need some basic information about your space, then you can start creating plans and adding members.
              %hr/
              %h4 Basic Information
              .form-group
                %label.col-md-3.control-label{:for => ""} Name
                .col-md-9
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label Subdomain
                .col-md-9
                  .input-group
                    %span.input-group-addon https://
                    %input.form-control{:type => "text"}/
                    %span.input-group-addon .membrs.co
              .form-group
                %label.col-md-3.control-label{:for => ""} Address
                .col-md-9
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label{:for => ""} City
                .col-md-9
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label{:for => ""} State / Province
                .col-md-9
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label{:for => ""} Postal Code
                .col-md-4
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label{:for => "select"} Country
                .col-lg-9
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
              .form-group
                %label.col-md-3.control-label{:for => "select"} Timezone
                .col-lg-9
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
              %h4{:style => "margin-top: 50px;"} Billing Settings
              .form-group
                %label.col-md-3.control-label{:for => "select"} Currency
                .col-lg-9
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
              .form-group
                %label.col-md-3.control-label Tax Rate
                .col-md-3
                  .input-group
                    %input.form-control{:type => "text"}/
                    %span.input-group-addon %
              %hr/
              .form-group
                .col-md-12
                  %button.btn.btn-success{:type => "submit"} Create Your Space


// OLD FORM MARKUP

.col-md-8
  = form_for(@newspace) do |s| 
    %h4 Basic Information
    .form-group{:class => has_error(@newspace, :name)}
      = s.label :name 
      = s.text_field :name, class: "form-control"
      = field_errors(@newspace, :name)
    .form-group{:class => has_error(@newspace, :subdomain)}
      = s.label :subdomain
      .input-group
        %span{class: "input-group-addon"} https://
        = s.text_field :subdomain, class: "form-control" 
        %span{class: "input-group-addon"} .membrs.co
      = field_errors(@newspace, :subdomain)
    - unless current_user.trialing?
      .form-group{:class => has_error(@newspace, :plan)}
        = s.label :plan 
        = s.select(:plan, Space.plans, {}, {class: "form-control"})
        = field_errors(@newspace, :plan)
      .form-group{:class => has_error(@newspace, :coupon)}
        = s.label :coupon 
        = text_field_tag(:coupon, class: "form-control") 
        = field_errors(@newspace, :coupon)
      .form-group{:class => has_error(@newspace, :payment_method)}
        = s.label :payment_method   
        = link_to "Manage Payment Methods", payment_methods_path
        = select_tag :payment_method,  options_from_collection_for_select(current_user.payment_methods, "id", "select_name"), include_blank: true, class: "form-control" 
        = field_errors(@newspace, :payment_method)

    %h4 Location
    = s.fields_for :locations do |l|
      .form-group{:class => has_error(l.object, :address)}
        = l.label :address
        = l.text_field :address, class: "form-control"
        = field_errors(l.object, :address)
      .form-group{:class => has_error(l.object, :city)}
        = l.label :city
        = l.text_field :city, class: "form-control"
        = field_errors(l.object, :city)
      .form-group{:class => has_error(l.object, :state)}
        = l.label :state
        = l.text_field :state, class: "form-control"
        = field_errors(l.object, :state)
      .form-group{:class => has_error(l.object, :postal_code)}
        = l.label :postal_code
        = l.text_field :postal_code, class: "form-control"
        = field_errors(l.object, :postal_code)
      .form-group{:class => has_error(l.object, :country)}
        = l.label :country
        = l.country_select("country", {}, {class: "form-control"})
        = field_errors(l.object, :country)
      .form-group{:class => has_error(l.object, :timezone)}
        = l.label :timezone
        = l.time_zone_select "timezone", nil, {}, {class: "form-control"}
        = field_errors(l.object, :timezone)

      %h4 Billing Settings
      .form-group{:class => has_error(l.object, :currency)}
        = l.label :currency
        = l.select :currency, currency_list, {allow_blank: false }, {class: "form-control"}
        = field_errors(l.object, :currency)
      .form-group{:class => has_error(l.object, :tax_rate)}
        = l.label :tax_rate
        = l.text_field :tax_rate, class: "form-control"
        = field_errors(l.object, :tax_rate)

    = s.submit class: "btn btn-primary"
