<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @space.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @space.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @space.fax %>
</p>

<p>
  <strong>Website:</strong>
  <%= @space.website %>
</p>

<p>
  <strong>Country:</strong>
  <%= @space.country %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @space.postal %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @space.timezone %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @space.currency %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @space.slug %>
</p>

<%= link_to 'Members', space_members_path(@space) %> | 
<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
