.col-md-6.col-md-offset-3.box.box-body-md
  %h5
    New Payment from 
    = @member.name
  = form_for(@payment, url: space_member_member_payments_path(@space, @member, @payment)) do |f| 
    = f.hidden_field :invoice_id

    .form-group{:class => "#{has_error(@payment, :description)} col-md-9", style: "padding-left:0;"}
      = f.label :description 
      = f.text_field :description, class: "form-control"
      = field_errors(@payment, :description)
    .form-group{:class => "#{has_error(@payment, :total_amount)} col-md-3", style: "padding-right:0;"}
      = f.label :total_amount, "Amount"
      = f.text_field :total_amount, class: "form-control"
      = field_errors(@payment, :total_amount)
    = f.submit class: "btn btn-success"
    or
    = link_to("Cancel", :back)

