.col-md-6.col-md-offset-3
  %h4
    New Payment from 
    = @member.name
  = form_for([@space, @member, @payment]) do |f| 
    = f.hidden_field :invoice_id

    .form-group{:class => "#{has_error(@payment, :description)} col-md-9", style: "padding-left:0;"}
      = f.label :description 
      = f.text_field :description, class: "form-control"
      = field_errors(@payment, :description)
    .form-group{:class => "#{has_error(@payment, :due_date)} col-md-3", style: "padding-right:0;"}
      = f.label :total_amount, "Amount"
      = f.text_field :total_amount, class: "form-control"
      = field_errors(@payment, :total_amount)
    = f.submit class: "btn btn-primary"
    or
    = link_to("Cancel", :back)

