.col-md-12
  %h4 Edit Membership Plan
  %hr
  .col-md-8
    = form_for([@space, @plan]) do |f|
      .form-group{:class => has_error(@plan, :name)}
        = f.label :name
        = f.text_field :name, class: "form-control"
        = field_errors(@plan,  :name)
      .form-group{:class => has_error(@plan, :base_price)}
        = f.label :base_price
        = f.text_field :base_price, class: "form-control"
        = field_errors(@plan,  :base_price)
      .form-group{:class => has_error(@plan, :frequency)}
        = f.label :frequency
        = f.select(:frequency, Plan.frequencies, {}, {class: "form-control"})
        = field_errors(@plan,  :frequency)
      .form-group{:class => has_error(@plan, :setup_fee)}
        = f.label :setup_fee
        = f.text_field :setup_fee, class: "form-control"
        = field_errors(@plan,  :setup_fee)
      .form-group{:class => has_error(@plan, :deposit)}
        = f.label :deposit
        = f.text_field :deposit, class: "form-control"
        = field_errors(@plan,  :deposit)
      .form-group{:class => has_error(@plan, :location)}
        = f.label :location
        = f.collection_select :location_id, @space.locations, :id, :description, {allow_blank: false }, {class: "form-control"}
        = field_errors(@plan, :location)
      = f.submit class: "btn btn-success"
      or
      = link_to "Cancel", :back
