.col-md-12
  = form_for([@space, @plan]) do |f| 
    .form-group{:class => has_error(@plan, :name)}
      = f.label :name
      = f.text_field :name, class: "form-control"
      = field_errors(@plan,  :name)
    .form-group{:class => has_error(@plan, :base_price)}
      = f.label :base_price
      = f.text_field :base_price, class: "form-control"
      = field_errors(@plan,  :base_price)
    .form-group{:class => has_error(@plan, :frequency)}
      = f.label :frequency
      = f.text_field :frequency, class: "form-control"
      = field_errors(@plan,  :frequency)
    .form-group{:class => has_error(@plan, :setup_fee)}
      = f.label :setup_fee
      = f.text_field :setup_fee, class: "form-control"
      = field_errors(@plan,  :setup_fee)
    .form-group{:class => has_error(@plan, :deposit)}
      = f.label :deposit
      = f.text_field :deposit, class: "form-control"
      = field_errors(@plan,  :deposit)
    .form-group{:class => has_error(@plan, :location)}
      = f.label :location 
      = f.collection_select :location_id, @space.locations, :id, :name, {allow_blank: false }, {class: "form-control"}
      = field_errors(@plan, :location)
    = f.submit class: "btn btn-primary" 
    or 
    = link_to "Cancel", :back