.col-md-6.col-md-offset-3
  = form_for([@space, @location]) do |f|
    .form-group{:class => has_error(@location, :name)}
      = f.label :name
      = f.text_field :name, class: "form-control"
      = field_errors(@location, :name)
    .form-group{:class => has_error(@location, :address)}
      = f.label :address
      = f.text_field :address, class: "form-control"
      = field_errors(@location, :address)
    .form-group{:class => has_error(@location, :city)}
      = f.label :city
      = f.text_field :city, class: "form-control"
      = field_errors(@location, :city)
    .form-group{:class => has_error(@location, :state)}
      = f.label :state
      = f.text_field :state, class: "form-control"
      = field_errors(@location, :state)
    .form-group{:class => has_error(@location, :postal_code)}
      = f.label :postal_code
      = f.text_field :postal_code, class: "form-control"
      = field_errors(@location, :postal_code)
    .form-group{:class => has_error(@location, :country)}
      = f.label :country
      = f.text_field :country, class: "form-control"
      = field_errors(@location, :country)
    .form-group{:class => has_error(@location, :timezone)}
      = f.label :timezone
      = f.text_field :timezone, class: "form-control"
      = field_errors(@location, :timezone)
    .form-group{:class => has_error(@location, :currency)}
      = f.label :currency
      = f.text_field :currency, class: "form-control"
      = field_errors(@location, :currency)
    .form-group{:class => has_error(@location, :tax_rate)}
      = f.label :tax_rate
      = f.text_field :tax_rate, class: "form-control"
      = field_errors(@location, :tax_rate)

    = f.submit class: "btn btn-primary"
