!!! 5
%html
  %head
    %title Dovetail

    %meta{'charset' => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge"}
    %meta{'name' => "viewport", 'content' => "width=device-width", 'initial-scale' => "1.0"}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.page-body
    -#%p.notice= notice
    -#%p.alert= alert

    .page-container.horizontal-menu
      %header.navbar.navbar-fixed-top

        .navbar-inner.row
          -# LOGO
          .navbar-brand.col-sm-1
            %a.nav-logo{:href => "/",:style=>"color:#f1f1f1;"}
              = image_tag "logomark.png", height: 30

          .col-sm-2
            %h3{:style=>"color:#f1f1f1;margin-top:14px;"}
              - if @space
                = @space.name

          -# MAIN MENU
          .col-sm-6.centered
            %ul.navbar-nav
              %li{:class => active_tab("members")}
                - if @space
                  %a{:href => space_members_path(@space)}
                    %i.entypo-users
                    %span
                      Community
              %li{:class => active_tab("payments")}
                - if @space
                  %a
                    %i.entypo-credit-card
                    %span
                      Payments
              %li{:class => active_tab(["spaces", "admins", "locations", "resources", "plans"])}
                - if @space
                  %a{:href => edit_space_path(@space)}
                    %i.entypo-cog
                    %span
                      Settings

          .col-sm-3
            %ul.user-info.pull-right.pull-none-xsm
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', 'data-close-others' => 'true'}
                  %img.img-circle{'src' => current_user.gravatar_url(:size =>44, :rating => 'G', :secure => true, :default => 'mm'), 'width' => '44'}
                  %i.entypo-down-open
                %ul.dropdown-menu{:style => "right:0;left:auto;"}
                  %li
                    %a{:href=> payment_methods_path}
                      %i.entypo-credit-card
                      Payment Methods
                  %li.divider
                    - current_user.spaces.each do |s|
                      %li
                        %a{:href=> url_for(:controller => controller_name, :action => action_name, :space_id => s)}
                          %i.entypo-right
                          = s.name                        
                  %li.divider
                  %li 
                    %a{:href=> new_space_path}
                      %i.entypo-plus
                      Add Space
                  %li.divider
                  %li
                    %a
                      = link_to("<i class='entypo-logout'></i> Sign out".html_safe,  destroy_user_session_path, :method => :delete)

            %ul.nav.navbar-right.pull-right
              %li.dropdown
                %a.dropdown-toggle.hidden{'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', 'data-close-others' => 'true'}
                  %i.entypo-mail
                  %span.badge.badge-info 2
                %ul.dropdown-menu
                  %li
                    %ul.dropdown-menu-list.scroller
                      %li.active
                        %a
                          %span.image.pull-right
                            %img.img-circle{'src' => 'https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/73.jpg', 'width' => '44'}
                          %span.line
                            %strong
                              Anthony Penner
                            &ndash; Yesterday
                          %span.line.desc.small
                            This ain’t our first item, it is the best of the rest.
                  %li.external
                    %a
                      All Messages

              %li.dropdown
                %a.dropdown-toggle.hidden{'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', 'data-close-others' => 'true'}
                  %i.entypo-bell
                  %span.badge.badge-secondary 2
                %ul.dropdown-menu
                  %li.top
                    %p.small
                      %a.pull-right{'href' => '#'}
                        Mark all Read
                      You have
                      %strong 3
                      New notifications.
                  %li
                    %ul.dropdown-menu-list.scroller
                      %li.unread.notification-success
                        %a{'href' => '#'}
                          %i.entypo-user-add.pull-right
                          %span.line
                            %strong
                              New User Registered
                          %span.line.small
                            30 Seconds Ago
                      %li.unread.notification-secondary
                        %a{'href' => '#'}
                          %i.entypo-heart.pull-right
                          %span.line
                            %strong
                              New User Registered
                          %span.line.small
                            2 Min Ago
                      %li.unread.notification-secondary
                        %a{'href' => '#'}
                          %i.entypo-user.pull-right
                          %span.line
                            %strong
                              New User Registered
                          %span.line.small
                            2 Min Ago
                      %li.unread.notification-secondary
                        %a{'href' => '#'}
                          %i.entypo-cancel-circled.pull-right
                          %span.line
                            %strong
                              New User Registered
                          %span.line.small
                            2 Min Ago

      - if select_sub_nav && @space
        .sub-menu{:style=> "padding:3px;background:#ddd;"}
          .container.text-center
            %ul.nav.nav-pills{:style=>"display:inline-block;"}
              = render select_sub_nav

      .main-content
        = render 'shared/need_payment_method'

        .container
          - flash.each do |key, value|
            %div{ :class => flash_class(key), :style => "margin-top:25px;" }
              = value

        .container
          = yield

        = yield :javascript
        = render 'shared/customerio'

