!!! 5
%html
  %head
    %title Dovetail

    %meta{'charset' => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge"}
    %meta{'name' => "viewport", 'content' => "width=device-width", 'initial-scale' => "1.0"}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet"}

  %body{class: controller_name + " " + action_name}

    - if user_signed_in?
      = render 'shared/main_nav'

    .container


      .main-content

        = render 'shared/need_payment_method'

        .container
          - flash.each do |key, value|
            %div{ :class => flash_class(key), :style => "margin-top:25px;" }
              = value

        .container
          - if current_user && select_sub_nav
            .row
              .col-md-3
                = render select_sub_nav
              .col-md-9
                = yield
          - else
            = yield

        = yield :javascript
        = render 'shared/customerio'

