!!! 5
%html
  %head
    %title Dovetail

    %meta{'charset' => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge"}
    %meta{'name' => "viewport", 'content' => "width=device-width", 'initial-scale' => "1.0"}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.page-body
    -#%p.notice= notice
    -#%p.alert= alert

    .page-container.horizontal-menu
      %header.navbar.navbar-fixed-top

        .navbar-inner.row
          -# LOGO
          .navbar-brand.col-sm-3
            %a.nav-logo{:href => "/"}
              = image_tag "logomark.png", height: 30

          -# MAIN MENU
          .col-sm-6.centered
            %ul.navbar-nav
              %li
                %a
                  %i.entypo-home
                  %span Space

              %li
                %a
                  %i.entypo-users
                  %span
                    Community
              %li
                %a
                  %i.entypo-credit-card
                  %span
                    Payments
              %li
                %a
                  %i.entypo-cog
                  %span
                    Settings

          .col-sm-3
            %ul.user-info.pull-right.pull-none-xsm
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown'}
                  %img.img-circle{'src' => 'https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/73.jpg', 'width' => '44'}
                %i.entypo-down-open
              %li
                %ul.dropdown-menu
                  %li.caret
                    %li
                      %a
                        Edit Profile
                    %li
                      %a
                        %i.entypo-mail
                        Inbox

            %ul.nav.navbar-right.pull-right
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', 'data-close-others' => 'true'}
                  %i.entypo-mail
                  %span.badge.badge-info 2
                %ul.dropdown-menu
                  %li
                    %ul.dropdown-menu-list.scroller
                      %li.active
                        %a
                          %span.image.pull-right
                            %img.img-circle{'src' => 'https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/73.jpg', 'width' => '44'}
                          %span.line
                            %strong
                              Anthony Penner
                            &ndash; Yesterday
                          %span.line.desc.small
                            This ain’t our first item, it is the best of the rest.
                  %li.external
                    %a
                      All Messages

              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', 'data-close-others' => 'true'}
                  %i.entypo-bell
                  %span.badge.badge-secondary 2

    .container 
      = yield
    
    = yield :javascript

    = render 'shared/customerio'

