.col-md-6.col-md-offset-3
  .box.box-body-md
    = form_for([@space, @member]) do |f| 
      .form-group{:class => has_error(@member, :name)}
        = f.label :name 
        = f.text_field :name, class: "form-control"
        = field_errors(@member, :name)
      .form-group{:class => has_error(@member, :email)}
        = f.label :email
        = f.text_field :email, class: "form-control"
        = field_errors(@member, :email)
      .form-group{:class => has_error(@member, :location)}
        = f.label :location 
        = f.collection_select :location_id, @space.locations, :id, :description, {allow_blank: false }, {class: "form-control"}
        = field_errors(@member, :location)
      .form-group{:class => has_error(@member, :status), :style => "margin-bottom:40px;"}
        = f.label :status
        = f.select :status, @member.valid_states, {}, {class: "form-control"}
        = field_errors(@member, :status)
      .form-group{:class => has_error(@member, :plan), :style => "margin-bottom:40px;"}
        = f.label :plan
        = f.collection_select :plan_id, @space.plans, :id, :name, {include_blank: "None"}, {class: "form-control"}
        = field_errors(@member, :plan)
      = f.submit class: "btn btn-success"
      or
      = link_to("Cancel", :back)
