<h1>Listing members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= link_to 'Show', [@space, member] %></td>
        <td><%= link_to 'Edit', edit_space_member_path(@space, member) %></td>
        <td><%= link_to 'Destroy', [@space, member], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_space_member_path(@space) %> |
<%= link_to @space.name, space_path(@space) %> | 
<%= link_to "Spaces", spaces_path %>

