<div class="member-show">
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="box box-body-sm">
        <div class="row">
          <%= link_to "<span class='glyphicon glyphicon-cog' aria-hidden='true'></span>" .html_safe, edit_space_member_path(@space, @member), class: "btn btn-gray btn-sm btn-edit" -%>
        </div>
        <img class="member-pic" src="<%= @member.gravatar_url(:size =>96, :rating => 'G', :secure => true, :default => 'identicon') -%>"/>
        <h4><%= @member.name -%></h4>
        <hr>
        <div class="row text-left">
          <div class="col-md-12">
            <span class="detail-label">Email</span>
            <p class="detail-info"><%= @member.email-%></p>
            <span class="detail-label">Joined</span>
            <p class="detail-info"><%= @member.created_at.strftime("%B %d, %Y")-%></p>
            <span class="detail-label">Membership Plan</span>
            <p class="detail-info"><%= @member.plan.nil? ? "&lt;No Plan&gt;".html_safe : @member.plan.name -%></p>
            <span class="detail-label">Current Status</span><br>
            <span class="label label-success"><%= "Active" -%></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="box box-body-sm">
        <h3>Invoices Overview</h3>
        <%= link_to "New Invoice", new_space_member_invoice_path(@space, @member), class: "btn btn-success btn-new-invoice pull-right" -%>

        <hr>

        <table class="table ledger-items" style="margin-bottom: 0;">
          <thead>
            <tr>
              <th class="ref-no">Ref No.</th>
              <th class="status">Status</th>
              <th class="issue-date">Issue Date</th>
              <th class="details">Details</th>
              <th class="balance-due">Balance Due</th>
              <th class="view-invoice">&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            <% @ledger_items.each do |item|-%>
              <tr>
                <td>
                  <%= link_to sprintf("%05d", item.id), ledger_item_link(@space, @member, item) %>                  
                </td>
                <td>
                  <%= invoice_status(item) %> 
                </td>
                <% if item.status == "open"%>
                  <td> - </td>
                <% else -%>
                  <td><%= item.issue_date.nil? ? "Not Set" : item.issue_date.strftime("%b %e, %Y") %></td>
                <% end -%>
                <td><%= truncate(item.description, length: 40) %></td>
                <td><%= item.balance_formatted%></td>
                <td class="text-right">
                  
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>

      </div>

      <%= render partial: 'shared/transaction_history', locals: {history_title: "Recent Account History"} -%>

    </div>

  </div>
</div>
